//- Все примеси в этом файле должны начинаться c имени блока (field-select)

mixin field-select(title, name, classes)

  //- Принимает:
  //-   title    {string} - название
  //-   name    {string} - показываемое имя при отправке
  //-   classes    {string} - список классов
  //- Вызов:
        +field-select('Текст', 'имя', 'some-class')

  -
    // список классов
    let allClasses = '';
    if(typeof(classes) !== 'undefined' && classes) {
      for (let item of classes.split(',')) {
        allClasses = allClasses + item.trim();
      }
    }

    let options = [
      {
        text: 'от 5 до 10 баррелей в неделю',
        value: '5-10',
      }
    ]

  if(typeof(title) !== 'undefined' && title)
    label(class=`${allClasses.length > 0 ?`${allClasses} `: `` }field-select`)&attributes(attributes)
      span.field-select__name!= title
      select.field-select__select(name=name)&attributes(attributes)
        each option in options
          option.field-select__option(value=option.value)!= option.text
